# For McJtyLib
public net.minecraft.world.inventory.AbstractContainerMenu containerListeners

# For RFToolsDimensions
public net.minecraft.world.level.chunk.ChunkGenerator featuresPerStep # featuresPerStep
public net.minecraft.client.renderer.DimensionSpecialEffects EFFECTS # EFFECTS